.segment-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: red;
  color: blue;
}

.generate-button {
  align-self: flex-end;
  margin-top: 10px;
}

.info-table {
  border-collapse: collapse;
  width: 80%;
  margin: 20px;
}

.info-table th,
.info-table td {
  border: 1px solid black;
  padding: 10px; /* Adjust the padding to control spacing */
  text-align: left;
}
